body

       
      { background-color: #757575; }
     
      .caja1{ background-color: white;
            padding: 10px; 
            height : 195px;
            width: 270px; 
            float: left;
            margin: 18px;
            text-align:center;
            
        }

       .caja2{ background-color: white;
            height: 195px;
            width: 270px; 
            padding: 10px;
            float: left;
            margin: 18px;
            text-align:center;
        }
        
     .caja3{ background-color: white;
            height: 195px;
            width: 270px;
            padding: 10px;
            float: left;
            margin: 18px;
            text-align:center;
        }

     .caja4 { background-color: white;
            height: 195px;
            width: 270px; 
            padding: 10px;
            float: left;
            margin: 18px;
            text-align:center;
            }

           div {border-radius: 15px}

  
        